body {
    font-family: sans-serif;
}

form {
    margin-bottom: 1em;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 600px;
}
label {
    display: inline-block;
    width: 150px;
}

input, textarea {
    width: 300px;
}

input {
    display: inline-block;
}

textarea {
    vertical-align: middle;
}

input[type=submit] {
    width: 500px;
}
<<<<<<< HEAD
=======

>>>>>>> 2c87f6357777e7488e1075b372fc7b3c57c84be4
